/* font-family: 'Montserrat', sans-serif; */
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

/* font-family: 'Open Sans', sans-serif; */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,600,300,300italic,400italic,600italic,700italic,800,800italic);



.raleway{
    font-family: 'Montserrat', sans-serif;
}

.open_sans{
    font-family: 'Open Sans', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}


.overlay_gradient{
    position: absolute;
    z-index: 1;
    height: 100vh;
    width: 100%;
    background: rgba(00, 00, 00, 0.7);
}
/* Navigation Bar Styling */
.navbar {
    -webkit-transition: all 300ms linear;
    transition: all 300ms linear;
    border: none !important;
    margin-top: 20px;
    min-height: 20px;
    padding: 4px 0;
    border-radius: 0;
    /* The navigation menu links */
    /* When you mouse over the navigation links, change their color */
    /* Position and style the close button (top right corner) */
}

.navbar .navbar-nav li a {
    color: #ffffff;
    -webkit-transition: border-color 300ms linear;
    transition: border-color 300ms linear;
    font-size: 14px;
    font-family: "Raleway", sans-serif;
    text-transform: capitalize;
    font-weight: 300;
    -webkit-transition: all linear 300ms;
    transition: all linear 300ms;
}


.navbar .navbar-nav li a:hover,.navbar .navbar-nav li a:focus{
    background: transparent;
    color: #3aa9d8;
}





/* Navigation Bar Signup Button Styling */

#highlight-link a {
    font-weight:bold;
    background: #3aa9d8;
    color:#ffffff;
    -webkit-transition: all linear 100ms;
    transition: all linear 100ms;
}
#highlight-link a:hover{
    
    background:#ff808a;
}


/* Navigation Bar After Scrolling Styling */

.scrolling-bg {
    background:#ffffff;
    margin: 0;
    box-shadow: 0 8px 6px -9px #999;
}

.scrolling-bg .navbar-nav li a{
    color: #232323;
}

.scrolling-bg .navbar-nav li a:hover {
    color: #ff808a;
}

/* Navigation Bar Current Section Nav Styling */
.scrolling-bg .navbar-nav li.active{
  border-bottom:2px solid #ff808a;
    
}


ul.mob-nav li{
display:inline;}




/* Page Styling */

.header-detail-inner{
    transform: translateY(-50%);
    top:50%;
}


/* Color CSS CODE */

.white_color{
    color: #FFFFFF;
}


/* ---------------------BUTTON CSS CODE ------------------------*/

.button {
    display: inline-block;
    border-radius: 50px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    transition: 300ms;
}

.button_default_style{
    padding: 15px 0;
    color: #fff;
    text-decoration: none !important;
    width: 210px;
}

/* Button Background CSS CODE */
.bg_white{
    background: #FFFFFF;
}

.bg_blue{
    background: #3aa9d8;
}


/* Button hover CSS CODE */

.bg_before_white:hover{
    background: #FFFFFF !important;
    color: #232323 !important;
}

.button:focus{
    color: white;
}


/* Margin CSS CODE */

.margin_default_bottom{
    margin-bottom: 25px !important;
}


.mid_default_margin{
    margin-top: 90px;
}


.small_heading{
    font-weight: 600;
    font-size: 22px;
    margin: 0;
}

.typer{
    font-size: 48px;
    color: #FFFFFF;
    font-weight: 100;
}






@media only screen and (max-width: 768px) {
    canvas {
        display:none;
    }

    .button_div{
        display: block;
    }

    .button_div a{

        display: block;
        margin: 0 auto 25px !important;
    }

    .button_div a:nth-child(2){
        margin: 0;
    }

    .button_div a:nth-child(1){
        margin: 0;
    }

   

    .small_heading{
        font-size: 16px;
    }

    .typer{
        font-size: 36px;
    }

    .logo-div-white a img{
        width: 120px;
    }

   
    

}

@media only screen and (max-width: 520px) {

    .typer{
        min-height: 90px !important;
        margin-bottom: 30px;
    }

}