   .image-radio {
          width: 100%;
          cursor: pointer;
          box-sizing: border-box;
          -moz-box-sizing: border-box;
          -webkit-box-sizing: border-box;
          border: 2px solid transparent;
          margin-bottom: 0;
          outline: 0;
      }
      .image-radio input[type="radio"] {
          display: none;
      }
      .image-radio-checked {
          border-color: #4783B0;
          
      }
      .image-radio .glyphicon {
        position: absolute;
        color: #4A79A3;
        background-color: #fff;
        padding: 10px;
        top: 0;
        right: 0;
      }
      .image-radio-checked .glyphicon {
        display: block !important;
      }